.App {
  margin-left: 10px;
  margin-right: 10px;
}

.noRecord {
  text-align: center;
  color: gray;
}

.errorMessage {
  background-color: #ffcccb;
  width: 90%;
  border: 5px solid red;
  padding: 1px 20px;
  margin: 20px;
}
